.route-editor {
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 35px auto minmax(150px, 150px) minmax(150px, 150px);
  height: 100%;

  .header {
    grid-column: 1/3;
    grid-row: 1;
  }

  .code-editor {
    grid-column: 1;
    grid-row: 2/5;
  }
}