$font-primary: 'Roboto', sans-serif;
$font-secondary: Consolas, monaco, monospace;
$text-color-primary: #C8C8C8;
$bg-color-primary: #1C1C1C;
$bg-color-secondary: #212122;
$border-color: #404040;
$header-color: #342437;
$bg-header-color: #763AAA;
