@import '~Styles/theme';

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #1C1C1E;
}

button {
  outline: none;
}

#app,
.main {
  height: 100vh;
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(#fff, 0); 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(#fff, 0.2);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(#fff, 0.4);
}
