@import '~Styles/theme';

.instructions {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-secondary;
  color: $text-color-primary;
  font-family: $font-primary;
  border-left: 2px solid $border-color;
  position: relative;

  .content {
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    font-family: $font-primary;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 28px;
    overflow-y: auto;

    h1 {
      font-size: 18px;
      font-weight: 400;
    }

    h2 {
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
    }

    p {
      font-size: 12px;
      margin-top: 10px;
    }

    code {
      background-color: $bg-color-primary;
      color: #8464D5;
      padding: 0px 5px;
      border-radius: 3px;
    }
  }
}